footer{
    height: 60px;
    display: block;
    position:absolute;
    bottom:20px;
    hr{
        position: relative;
        width: 900px;
    }
    .links{
        position: absolute;
        left: 50%;
        a{
            position: relative;
            left: -50%;
        }
    }
}