


$baseFont: Helvetica, sans-serif;
$baseTextColor: black;
$baseWidth: 1200px;
$windowColor:  rgba(250,250,250,0.5);
$backgroundZIndex: -10;
$backgroundColor: rgba(255,255,255,1);

$postPad: 20px;
$postColor:   rgba(17, 17, 39, 0.7);

$linkColor:#0000EE;

@mixin media($queryString){
    @media #{$queryString} {
      @content;
    }
}